<b>
  This document is an electronic record in terms of Information Technology Act, 2000 and rules there under as applicable and the amended provisions pertaining to electronic records in various statutes as amended by the Information Technology Act, 2000. This document is published in accordance with the provisions of Rule 3 (1) of the Information Technology (Intermediaries guidelines) Rules, 2011 that require publishing the rules and regulations, privacy policy and Terms of Use for access or usage of www.foodiefood.com website.
<br/>

  **You cannot cancel the order which the customer placed for another by vendor.
  <br/>
  **You cannot accept the same order which you cancelled.
  <br/><br/><br/><br/><br/>
  
  
  <p>              
                                                   ****HAPPY FOODIE FOOD VENDOR*****
                                                  </p> 
</b>
